/*——————————————————————————————————————————————————————GENERAL STUFF*/
.page{
  margin-left: auto;
  margin-right: auto;
  margin-top: 8vh;
  width: 90vw;
  height: 80vw;
}

*{
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  text-align: center;
  text-decoration: none;
  font-family: Gill sans;
}

a{
  color: black;   /*keep hyperlinks plain*/
}

img{
  width: inherit;
  height: inherit;
  overflow: hidden;
}

.noshow{
  visibility: hidden;
}

.noborder{
  border: 0px;
}

.separator{
  height: 1.5vw;
}

.page,
[class*="col-"],
[class*="row-"],
.tab{
  box-sizing: border-box;
  border-bottom: 0.1px #BDBDBD dashed;   /*borders to see what's happening*/
}

.tab{
  box-sizing: border-box;
  border-left: 0.1px #BDBDBD dashed;   /*borders to see what's happening*/
}


hr{
  height: 1px;
  background-color: lightgrey;
  border: none;
}


/*——————————————————————————————————————————————————————row-S*/

/*main menu——————————————————————————————————————————————————————row-1*/
.row-1{
  width: 90vw;
  height: 10vw;
}

.row-1 h1{
  display: flex;
  font-family: "museo sans";
  font-weight: 500;
  font-size: 4em;
}

/*Main menu hover formatting——————————————————————————————————————————————————————*/
.row-1 [class*="col-"]:link h1{
  text-decoration: none;
  color: black;
}

.row-1 [class*="col-"]:visited h1{
  text-decoration: none;
  color: black;
}

.row-1 [class*="col-"]:hover h1{
  color: white;
}

.row-1 [class*="col-"]:active h1{
  text-decoration: none;
  color: darkgrey;
}

.row-1 [class*="col-"]:hover{
  background-color: black;
}

/*main boxes——————————————————————————————————————————————————————row-2*/
.row-2{
  width: 90vw;
  height: 30vw;
}

/*extra buttons——————————————————————————————————————————————————————*/


.row-buttons{
  width: 90vw;
  height: 2vw;
  margin-top: 2vw;
}


/*more info, etc.——————————————————————————————————————————————————————row-s more*/

.row-4{
  width: 90vw;
  height: 30vw;
}


/*——————————————————————————————————————————————————————COLUMNS*/

[class*="col-"] {

    float: left;
    height: inherit;
}

.col-1{
  display: -webkit-box;      /* OLD - iOS 6-, Safari 3.1-6 */
  display: -moz-box;         /* OLD - Firefox 19- (buggy but mostly works) */
  display: -ms-flexbox;      /* TWEENER - IE 10 */
  display: -webkit-flex;     /* NEW - Chrome */
  display: flex;
  align-items: center;
  justify-content: center;
  width: 30vw;
}

.col-2{
  display: -webkit-box;      /* OLD - iOS 6-, Safari 3.1-6 */
  display: -moz-box;         /* OLD - Firefox 19- (buggy but mostly works) */
  display: -ms-flexbox;      /* TWEENER - IE 10 */
  display: -webkit-flex;     /* NEW - Chrome */
  display: flex;
  align-items: center;
  justify-content: center;
  width: 30vw;
}

.col-2wide{
  width:60vw;
}

.col-2wideindex{
  width:60vw;
  padding-left: 2vw;
  padding-right: 2vw;
  padding-top: 0.5vw;
}

.col-3{
  display: -webkit-box;      /* OLD - iOS 6-, Safari 3.1-6 */
  display: -moz-box;         /* OLD - Firefox 19- (buggy but mostly works) */
  display: -ms-flexbox;      /* TWEENER - IE 10 */
  display: -webkit-flex;     /* NEW - Chrome */
  display: flex;
  align-items: center;
  justify-content: center;
  width: 30vw;
}

/*——————————————————————————————————————————————————————COLUMNS FOR SEE AND HEAR PAGES*/

[class*="seehearcol-"] {
    float: left;
    height: inherit;
}

.seehearcol-0{
  display: -webkit-box;      /* OLD - iOS 6-, Safari 3.1-6 */
  display: -moz-box;         /* OLD - Firefox 19- (buggy but mostly works) */
  display: -ms-flexbox;      /* TWEENER - IE 10 */
  display: -webkit-flex;     /* NEW - Chrome */
  display: flex;
  align-items: center;
  justify-content: center;
  width: 30vw;
}

.seehearcol-1{
  display: -webkit-box;      /* OLD - iOS 6-, Safari 3.1-6 */
  display: -moz-box;         /* OLD - Firefox 19- (buggy but mostly works) */
  display: -ms-flexbox;      /* TWEENER - IE 10 */
  display: -webkit-flex;     /* NEW - Chrome */
  display: flex;
  align-items: center;
  justify-content: center;
  width: 15vw;
}

.seehearcol-2{
  display: -webkit-box;      /* OLD - iOS 6-, Safari 3.1-6 */
  display: -moz-box;         /* OLD - Firefox 19- (buggy but mostly works) */
  display: -ms-flexbox;      /* TWEENER - IE 10 */
  display: -webkit-flex;     /* NEW - Chrome */
  display: flex;
  align-items: center;
  justify-content: center;
  width: 15vw;
}

.seehearcol-3{
  display: -webkit-box;      /* OLD - iOS 6-, Safari 3.1-6 */
  display: -moz-box;         /* OLD - Firefox 19- (buggy but mostly works) */
  display: -ms-flexbox;      /* TWEENER - IE 10 */
  display: -webkit-flex;     /* NEW - Chrome */
  display: flex;
  align-items: center;
  justify-content: center;
  width: 15vw;
}

.seehearcol-4{
  display: -webkit-box;      /* OLD - iOS 6-, Safari 3.1-6 */
  display: -moz-box;         /* OLD - Firefox 19- (buggy but mostly works) */
  display: -ms-flexbox;      /* TWEENER - IE 10 */
  display: -webkit-flex;     /* NEW - Chrome */
  display: flex;
  align-items: center;
  justify-content: center;
  width: 15vw;
}






/*——————————————————————————————————————————————————————BUTTONS row-*/

[class*="buttonscol-"] {
  display: -webkit-box;      /* OLD - iOS 6-, Safari 3.1-6 */
  display: -moz-box;         /* OLD - Firefox 19- (buggy but mostly works) */
  display: -ms-flexbox;      /* TWEENER - IE 10 */
  display: -webkit-flex;     /* NEW - Chrome */
  display: flex;
  align-items: center;
  justify-content: left;
  width: 15vw;
  border: 0px black solid;
}

.button{
  font-size: 1.5em;
  font-style: italic;
  width: 15vw;
  color: black;
  padding-left: 1vw;
  text-align: left;
}

.buttonindex{
  font-size: 0.8em;
  font-style: italic;
  width: 15vw;
  color: black;
  padding-left: 1vw;
  text-align: left;
}

.buttonindex p,
.button p{
  text-align: left;

}

.buttonsinfo{
  text-align: left;
  color: black;
  font-variant: small-caps;
}

.buttonsinfo span{
  color: white;
}



/*Buttons hover formatting——————————————————————————————————————————————————————*/
.row-buttons [class*="buttonscol-"]:link p{
  text-decoration: none;
  color: black;
}

.row-buttons [class*="buttonscol-"]:visited p{
  text-decoration: none;
  color: black;
}

.row-buttons [class*="buttonscol-"]:hover p{
  color: white;
}

.row-buttons [class*="buttonscol-"]:active p{
  text-decoration: none;
  color: darkgrey;
}

.row-buttons [class*="buttonscol-"]:hover{
  background-color: black;
}


/*——————————————————————————————————————————————————————LEBENSLAUF TIMELINE*/

#panel {                      /*for the slide down————————*/
    width: 30vw;
    display: none;
}

#panel, #flip {
    background-color: white;
}


table{
  table-layout: fixed;
  border-spacing: 0;
  width: 30vw;
}

td{
  overflow: hidden;
}

tr{
  height: 70px;
}

.first{
border-right:1px #D8D8D8 solid;
padding-right: 1vw;
color: #D8D8D8;
text-align:right;
}

.second{
font-size: 0.7em;
font-variant: small-caps;
text-align:left;
padding-left: 1vw;
color: #6E6E6E;
}

.third{
  color: black;
  font-size: 0.7em;
  font-variant: small-caps;
  text-align:left;
  padding-left: 1vw;
}

/*Text about me————————*/

.leben{
  font-size: 0.9em;
  text-align: left;
  color: lightgrey;
  font-family: "museo-sans";
  font-weight: 100;
}

.leben a{
  color: lightgrey;
  text-decoration: underline;
  font-kerning: 4em;
  font-style: italic;
  font-variant: small-caps;
  line-height: 1.7em;
  }


  /*——————————————————————————————————————————————————————LEFT FRAME (SEE / HEAR PAGES)*/

  /*Changing left frame————————*/

  .col-1.setA{
    display: none;
  }

  .col-1.setA.active{
    display: block;
  }

  .col-1.setB{
    display: none;
  }

  .col-1.setB.active{
    display: block;
  }

  .col-1.setC{
    display: none;
  }

  .col-1.setC.active{
    display: block;
  }

  /*the left frame————————*/

  .leftframe{
    display:none;
  }

  .leftframe.active{
    display: flex;
    flex-direction: row-;
    flex-wrap: wrap;
    justify-content: flex-start;
    align-content: flex-start;
    padding-top: 2vw;
    padding-left: 2vw;
    padding-right: 2vw;
    width: inherit;
    height: inherit;
    border: 0px #BDBDBD dashed;
  }

  /*——————————————————————————————————————————————————————MORE INFO BOX*/

  .moreinfotitle{
    display: flex;
    justify-content: left;
    width: 30vw;
    height: 3vw;
    border: 0px black dashed;
  }

  .moreinfotitle h1{
    text-align: left;
    font-size: 1.5em;
    font-family: "museo-sans";
    color: black;
    font-weight: 300;
    line-height: 0vw;
  }

  .moreinfoA{
    display: flex;
    width: 30vw;
    height: 17vw;
    border: 0px black dashed;
  }

  .moreinfoA p{
    color: grey;
    text-align: left;
    font-size: 0.7em;
    line-height: 1.5vw;
    text-align: justify;
    font-family: "museo-sans";
    font-weight: 100;
  }

  .video-player{
    display: flex;
    justify-content: center;
    align-items: flex-end;
    width: 6vw;
    height: 5vw;
    border: 0px black dashed;
  }

  .playpausebutton{
    display: flex;
    height: 5vw;
    border: 0px black dashed;
  }

  .downloadbox{
    display: flex;
    align-items: flex-end;
    justify-content: flex-end;
    width: 20vw;
    height: 5vw;
    border: 0px black dashed;
    padding: 0px;
  }

  .downloadbox p{
    display: flex;
    font-size: 1.2em;
    color: #E6E6E6;
    border: 0px black dashed;
    font-family: "museo-sans";
    font-weight: 900;
    margin-bottom: 0;
  }

  /*——————————————————————————————————————————————————————TAB COLLECTIONS*/

.tabcollection{
  display: none;
}

.tabcollection.active{
  display: -webkit-box;      /* OLD - iOS 6-, Safari 3.1-6 */
  display: -moz-box;         /* OLD - Firefox 19- (buggy but mostly works) */
  display: -ms-flexbox;      /* TWEENER - IE 10 */
  display: -webkit-flex;     /* NEW - Chrome */
  display: flex;             /* NEW, Spec - Opera 12.1, Firefox 20+ */
  flex-direction: row-;
  flex-wrap: wrap;
  -webkit-flex-wrap: wrap;
  height: inherit;
  width: 60vw;
}

.tab{
  display: flex;
  position: relative;
  width: 15vw;
  height: 15vw;
  z-index: auto:-1;
}

/*——————————————————————————————————————————————————————Tabs Hover*/

img.one{
  position: absolute;
  border: 0px #BDBDBD dashed;
}

.darkening{
  display: none;
}

.tab:hover .darkening{
  position: absolute;
  display: block;
  width: inherit;
  height: inherit;
  background-color: black;
  opacity: 0.8;
  z-index: 1;
}

.darkening .text{
  padding-left: 1vw;
  padding-right: 1vw;
  padding-top:2vw;
}

.text p{
  color: #A4A4A4;
  font-family: gill sans;
  font-size: 0.7em;
  text-align: left;
}

.tab.active .darkening{
  position: absolute;
  display: block;
  width: inherit;
  height: inherit;
  background-color: black;
  opacity: 0.8;
  z-index: 1;
}







/*-----------------------------------*/
