/*---------GENERAL STUFF------------*/
*{
  box-sizing: border-box;
  text-align: center;
  text-decoration: none;
  overflow: hidden;
}

a{
  color: black;
}

.page,
[class*="col-"],
.row,
.tab{
  border: 0.5px #BDBDBD dashed;
}

.page{
  margin-left: auto;
  margin-right: auto;
  margin-top: 10vh;
  width: 90vw;
  height: 40vw;
}

img{
  width: inherit;
  overflow: hidden;
}

h1{
  display: flex;
  font-family: Arial;
  font-size: 4em;
}
/*-------------------------------------*/



/*---------ROWS------------*/
.row1{
  width: 90vw;
  height: 10vw;
}

.row2{
  width: 90vw;
  height: 30vw;
}

.row: after{
    content: "";
    clear: both;
    display: block;
}
/*--------------------------*/


/*---------COLUMNS----------*/                                                           /*---------UNFINISHED----------*/

.col-1{
  display: -webkit-box;      /* OLD - iOS 6-, Safari 3.1-6 */
  display: -moz-box;         /* OLD - Firefox 19- (buggy but mostly works) */
  display: -ms-flexbox;      /* TWEENER - IE 10 */
  display: -webkit-flex;     /* NEW - Chrome */
  display: flex;
  align-items: center;
  justify-content: center;
  width: 30vw;
}

.col-2{
  display: -webkit-box;      /* OLD - iOS 6-, Safari 3.1-6 */
  display: -moz-box;         /* OLD - Firefox 19- (buggy but mostly works) */
  display: -ms-flexbox;      /* TWEENER - IE 10 */
  display: -webkit-flex;     /* NEW - Chrome */
  display: flex;
  align-items: center;
  justify-content: center;
  width: 30vw;
}

.col-2wide{
  width:60vw;
}

.col-3{
  display: -webkit-box;      /* OLD - iOS 6-, Safari 3.1-6 */
  display: -moz-box;         /* OLD - Firefox 19- (buggy but mostly works) */
  display: -ms-flexbox;      /* TWEENER - IE 10 */
  display: -webkit-flex;     /* NEW - Chrome */
  display: flex;
  align-items: center;
  justify-content: center;
  width: 30vw;
}

[class*="col-"] {
    float: left;
    height: inherit;
}
/*--------------------------*/

/*---------TABS----------*/                                                           /*---------UNFINISHED----------*/

.tabcollection{
  display: -webkit-box;      /* OLD - iOS 6-, Safari 3.1-6 */
  display: -moz-box;         /* OLD - Firefox 19- (buggy but mostly works) */
  display: -ms-flexbox;      /* TWEENER - IE 10 */
  display: -webkit-flex;     /* NEW - Chrome */
  display: flex;             /* NEW, Spec - Opera 12.1, Firefox 20+ */
  flex-direction: row;
  flex-wrap: wrap;
  -webkit-flex-wrap: wrap;
  height: inherit;
  width: 60vw;
}

.tab{
  display: flex;
  position: relative;
  width: 15vw;
  height: 15vw;
  z-index: auto:-1;
}



.leftframe{
  width: inherit;
  height: inherit;
}


/*TABS HOVER*/


img.one{
  position: absolute;
  border: 0.5px #BDBDBD dashed;
}


.darkening{
  display: none;
}



.tab:hover .darkening{
  position: absolute;
  display: block;
  width: inherit;
  height: inherit;
  background-color: black;
  opacity: 0.8;
  z-index: 1;
}




.text{
  padding-left: 1vw;
  padding-right: 1vw;
}

.text p{
  color: #A4A4A4;
  font-family: gill sans;
  font-size: 0.7em;
  text-align: left;
}











/*--------------------------*/

/*CHANGING FRAME*/
.leftframe{
  display:none;
}

.leftframe.active{
  display: block;

}


/*--------------------------*/


/*---------MAIN MENU HOVER------------*/
.row1 [class*="col-"]:link h1{
  text-decoration: none;
  color: black;
}

.row1 [class*="col-"]:visited h1{
  text-decoration: none;
  color: black;
}

.row1 [class*="col-"]:hover h1{
  color: white;
}

.row1 [class*="col-"]:active h1{
  text-decoration: none;
  color: black;
}





.row1 [class*="col-"]:hover{
  background-color: black;
}



/*------------------------------------*/
