/*EXPERIMENTS*/
@media screen and (min-width: 1000px) {
    body {

    }
}

/*GENERAL*/
*{
  text-decoration: none;
}

.page,
.mainmenu,
.menuitem,
.itemrow,
.item,
.tabs,
.tabscolumn,
.tabcollection,
.smalltabs {
  border: .01px black dashed;

}

img{
  width: 100%;
  overflow: hidden;
}

.page{
  margin: auto;
  width: 90vw;
  height: 80vw;
}




/*TOP PART*/
.mainmenu{
  width: 90vw;
  height: 10vw;
}

.menuitem{
  display: inline-block;
  width: 29vw;
  height: 10vw;
  overflow: hidden;
}

.linkedbox{

}

h1{
  font-size: 5em;
  font-family: english-small-caps;
  text-align: center;
  color: black;

}


/*INDEXPICTURES*/
.itemrow{
  width: 90vw;
  height: 30vw;
}

.item{
  display: inline-block;
  width: 29vw;
  height: 29vw;
}



/*HEAR and SEE*/
.changingwindow{
  display: inline-block;
  width: 30vw;
  height: 30vw;
}

.tabcollection{
  display: inline-block;
  width: 59vw;
  height: 29vw;
}

.smalltabs{
  display: inline-block;
  width: 14vw;
  height: 14vw;
}




/*TOP MENU LINKS STUFF*/
h1:link{
  text-decoration: none;
  color: black;
}
h1:visited{
  text-decoration: none;
}

h1:hover{
  background-color: black;
  color: white;
}
h1:active{
  text-decoration: none;
  color: black;
}






/*CHANGING TABS STUFF*/
.smalltabs:hover{
  border: 1px black solid;
}

.smalltabs:active{
  border: 1px red solid;
}


.smalltabs.active{
  border: 1px purple solid;
}



/*CHOSEN TAB*/
.taboption{
  display:none;
}

.taboption.active{
  display: block;
}
